<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraceBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TraceBackend.Properties.Settings>
            <setting name="Schema" serializeAs="String">
                <value>Tabular</value>
            </setting>
            <setting name="Sp_Name" serializeAs="String">
                <value>usp_Insert_Query</value>
            </setting>
            <setting name="Db_Name" serializeAs="String">
                <value>Trace</value>
            </setting>
        </TraceBackend.Properties.Settings>
    </applicationSettings>
</configuration>